.container {
  width: 50%;
  text-align: center;
  margin: auto;
  button{
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: 0.5px;
    height: 34px;
    font-size: 16px;
    padding: 0 28px;
    margin-top: 10px;
    cursor: pointer;
    float: left;
  }
}
